/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    padding-top: 70px;
    color: #555;
    /*background-color: #FBDFC6;*/
    background-color: #ffffff;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ef8223;
}

a:hover {
    color: #F8C9A0;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #000;
    border-color: #ef8223;
    color: #ef8223;
}

.navbar-wrapper .navbar .navbar-nav .open a {
    background-color: #000;
    border-color: #ef8223;
    color: #ef8223;
}

.navbar-wrapper .navbar .navbar-nav .dropdown .dropdown-menu, .navbar-toggle {
    background-color: #000;
    border-color: #ef8223;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #F8C9A0;
}

.navbar-wrapper .navbar .navbar-nav .dropdown .dropdown-menu li a {
    color: #ef8223;
}

.navbar-wrapper .navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
    color: #F8C9A0;
}

.navbar-default .navbar-toggle {
    border-color: #ef8223;
    color: #ef8223;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ef8223;
}

.navbar-wrapper .navbar .navbar-nav li a {
    color: #ef8223;
}

.navbar-wrapper .navbar .navbar-nav .active a {
    color: #F8C9A0;
    background-color: #000;
}

.navbar-wrapper .navbar .navbar-nav a:hover {
    color: #F8C9A0;
}

.navbar-wrapper-bottom .navbar{
    padding-top: 10px;
}

.btn-default {
    background-color: #EF8223;
    color: #333;
    border-color: #333;
}

.btn-default:hover {
    color: #333;
    background-color: #F8C9A0;
    border-color: #333;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 300px;
    /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.carousel-caption-dark {
    color: #ef8223;
    /*background: rgba(0, 0, 0, 0.7);*/
    border-radius: 4px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
    border-radius: 8px;

}

.carousel-inner {
    border: 1px solid #EF8223;
    border-radius: 8px;
}

.carousel-control {
    border-radius: 8px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
    border-radius: 8px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.marketing {
    padding-bottom: 50px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
    border-color: #ef8223;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.supplier-row {
    margin-top: 15px;
}

/* Map */
#map-canvas {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}

.contactinfo {
    text-align: center;
}

/* Icon hovers */
.fa-facebook-square:hover {
    color: #2c4083;
    cursor: pointer;
}

.fa-twitter-square:hover {
    color: #3f91e4;
    cursor: pointer;
}

.fa-envelope-square:hover {
    color: #ef8223;
    cursor: pointer;
}
/* Icon hovers */

.navbar-brand {
    padding: 0 0 0 15px;
    color: #525252;
}

.navbar-brand > img {
    display: block;
    height: 50px;
}

.orange-border {
    border: 1px solid #ef8223;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        /*border-radius: 4px;*/
    }

    /* Bump up size of carousel content */
    /*.carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }*/

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    /*.featurette-heading {
        margin-top: 120px;
    }*/
}
